owncloud &
xset b off &
volumeicon &
source /home/user/.zshrc

# keyboard layout
setxkbmap de us
setxkbmap -option caps:ctrl_modifier
urxvt &

# deamon mode
urxvtd -q -f -o &
pcmanfm -d &
# devmon --no-gui &
# /home/user/i2p/i2prouter start &
